div.contenu{
    display: inline-flex;
    justify-content: flex-start;
    column-gap: 3.7vw;
}

.vl{
    border-left: 6px solid black;
    height: 83vh;
}

a.options{
    color: black;
}
li.options{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 2.5vh;
}

ul.options{
    list-style-type: none;
    position: relative;
    top: 0;
}
a.optionsA{
    color: red;
}
li.optionsA{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
    text-align: left;
}

ul.optionsA{
    list-style-type: none;
    position: absolute;
    bottom: 0;
}